*{
    padding: 0;
    margin: 0;
    font-family: dosis;
}
body{
    background-color: rgb(255, 255, 255);
}
.container{
    width: 50%;
    background-color: rgb(239, 237, 237);
    margin: auto;
    margin-top: 1%;
    height: 180vh;
    border-radius: 10px;
}
.stopper{
    width: 90%;
    margin: auto;
    padding: 20px 0px;
}
.wrapper{
    padding: 10px;
}
.container .stopper h3{
    text-align: center;
    padding: 30px;
}
label{
   font-size: large;
   font-weight: 500;
}
input{
    width: 90%;
    padding: 14px 14px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 4px;
}
input[type=checkbox]{
    width: 5%;
    border-radius: 4px;
}
select{
    width: 95%;
    padding: 10px 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    
}
input[type=checkbox]:hover{
    background-color: #ede7e7;
}
input:hover{
    background-color: #ede7e7;
}
select:hover{
    background-color: #ede7e7;
}
 input:focus{
    border: 1px solid black;
}
select:focus{
    border: 1px solid black;
}
input[type=submit]{
    border: none;
    background-color: black;
    border-radius: 4px;
    color: #fff;
    font-size: larger;
    width: 92%;
    margin-left: 10px;
    margin-top: 20px;
    transition:  1s ease-in;
    margin-bottom: 10px;
}
input[type=submit]:hover{
    background-color: blue;

}
p{
    font-size: large;
}
hr{
    width: 10%;
    display: inline-block;
   margin: auto;

}
.or{
text-align: center;
padding-bottom: 20px;
}
button{
    background-color: #ede7e7;
    padding: 5px 10px;
    width: 93%;
    margin-left: 8px;
    outline: none;
    transition: 1s ease-in;
    border: 1px solid #d1cdcd;
    color: black;
    text-align: center;
    font-size: larger;
    text-decoration: none;
    font-weight: bold;

}

button:hover{
    background-color: blue;
    border: none;
    color: #fff;

}


@media (max-width: 700px) {
    .container{
        width: 400px;
        border-radius: 0;
    }

}